{% extends 'main/base.html' %}

{% block content %}
    <h3>{{view.name}}</h3>
    <div>
        <form method="post", action="/reckon/{{view.name}}">
            {% csrf_token %}
            <button type="submit", name="delete", value="{{view.name}}">Delete this sheet</button>
            <button type="submit", name="show", value="{{view.name}}">Show transactions</button>
        </form>
        
        <div>
            <p>
                <form method="post", action="/reckon/{{view.name}}">
                    {% csrf_token %}
                    <label for="data">Name</label>
                    {{addperson.name}}
                    <button type="submit", name="addperson", value="{{view.name}}">Add a new person to the sheet</button>  
                </form>
                                    
            </p>
            <p>
                <form method="post", action="/reckon/{{view.name}}">
                    {% csrf_token %}
                    <label for="pay">Buyer</label>
                    
                    <select name="pay" id="pay">
                        {% for i in people %}
                            <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                    </select>

                    <label for="item">Item</label>
                    {{additem.item}}

                    <label for="value">Cost</label>
                    {{additem.value}}

                    <button type="submit", name="additem", value="{{view.name}}">Add new item to the sheet</button>
                </form>
                    
            </p>            
        </div>
        <div>
            <h3>Participants</h3>
            {% for i in people %}
                <p>{{i.name}}</p>
            {% endfor %}
        </div>
        <div>
            <form method="post", action="/reckon/{{view.name}}">
                {% csrf_token %}
                <h3>Items</h3>
                {% for i in items %}
                    <p> 
                        <button type="submit", name="item_delete", value="{{i.name}}">-</button>
                        {{i.name}}: {{i.value}} - {{i.person}} for
                        {% for j in debtors %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                                {% for k in j %}
                                {{k}}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endfor %}
            </form>
            
        </div>
    
    </div>
{% endblock content %}