{% extends 'main/base.html' %}

{% block content %}
    <h3>{{view.name}}</h3>
    <div>
        <form method="post", action="/reckon/{{view.name}}">
            {% csrf_token %}
            <button type="submit", name="delete", value="{{view.name}}">Delete this sheet</button>
            <button type="submit", name="show", value="{{view.name}}">Show transactions</button>
            <div>
                <p>
                    <label for="data">Name</label>
                    <input type="text", id="data", name="data">
                    <button type="submit", name="addperson", value="{{view.name}}">Add a new person to the sheet</button>                    
                </p>
                <p>
                    <label for="pay">Buyer</label>
                    <input list="participants" id="pay" name="pay" width="40">

                    <datalist id="participants">
                        {% for i in people %}
                            <option value="{{i}}">{{i.name}}</option>
                        {% endfor %}
                    </datalist>

                    <label for="item">Item</label>
                    <input type="text", id="item" name="item" width="40">

                    <label for="value">Cost</label>
                    <input type="text", id="value" name="value" width="40">

                    <button type="submit", name="additem", value="{{view.name}}">Add new item to the sheet</button> 
                </p>            
            </div>
            <div>
                <h3>Participants</h3>
                {% for i in people %}
                    <p>{{i.name}} : {{i.balance}}</p>
                {% endfor %}
            </div>
            <div>
                <h3>Items</h3>
                {% for i in items %}
                    <p> 
                        <button type="submit", name="item_delete", value="{{i.name}}">-</button>
                        {{i.name}}: {{i.value}} - {{i.person}} for
                        {% for j in debtors %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                                {% for k in j %}
                                {{k}}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endfor %}
            </div>
        </form>
        
    </div>
{% endblock content %}