{% extends 'main/base.html' %}

{% block content %}
    <div>
        <h3>Your sheets:</h3>
        <div>
            <form method="post" ,action="sheets/">
                {% csrf_token %}
                {% for item in sheets %}
                <p>
                    
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">{{item.name}}</span>
                        </div>
                        <button type="submit", name="edit", value="{{item.name}}" class="btn btn-primary btn-sm">Edit</button>
                      </div>
                </p>
                {% endfor %}
            </form>
            
        </div>
    </div>
{% endblock content %}
