{% extends 'main/base.html' %}

{% block content %}
    <h3>Create New Sheet</h3>
    <form method="post" action="/create/">
        {% csrf_token %}
        <div> 
            
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Name of the sheet</span>
                </div>
                {{form.name}}
                <button type="submit", name="save" class="btn btn-primary btn-sm" >Create</button>
              </div>
        </div>
    </form>
{% endblock %}