{% extends 'main/base.html' %}

{% block content %}
    <div>
        <form method="post" action="/reckon/{{view.id}}/{{item.name}}">
            {% csrf_token %}
            {% for person in debt %}
                <p>

                        <div class="input-group">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                  <input type="checkbox" name="{{person.name}}" value="clicked"> {{person.name}}
                                </label>
                              </div>
                            <input type="text" name="d{{person.name}}">
                            <label class="input-group-text">%</label>
                        </div>
                </p>          
            {% endfor %}
            <button type="submit" name="split_expense" class="btn btn-primary btn-sm">Apply</button>
        </form>
        
    </div>
{% endblock %}