{% extends 'main/base.html' %}

{% block content %}
    <div>
        <table class="table table-hover">
            <tr>
                <th>Debtor</th>
                <th>Value</th>
                <th>Collector</th>
            </tr>
            {% for action in actions %}
                <tr>
                    <td>{{action.debtor}}</td>
                    <td>--- {{action.value}} --></td>
                    <td>{{action.collector}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>
        <form action="/reckon/{{sheet.id}}">
            <button type="submit" name="go_back" class="btn btn-primary btn-sm">Back</button>
        </form>
    </p>
{% endblock %}